@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500&display=swap");

body {
  font-family: 'Tajawal', sans-serif;
}

hr {
  width: 98%;
  margin: 0.25rem auto;
}

header {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

header #page-title {
  font-family: 'Poiret One', cursive;
  font-weight: normal;
  font-size: 2rem;
  margin: 0;
  white-space: nowrap;
  margin: 0.25rem 2rem;
}

main {
  width: 100%;
  display: flex;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25rem;
}

footer small {
  margin: 3px;
}
