.jumbotron-fluid{
    padding:0em !important;


}
.jumbotron{
    padding:0em !important;
    margin-bottom:0px !important
    
}
.container{
    justify-content: flex-start !important;
    align-items: center;

}