input {
    margin: 3px !important;
    height:38px
}

.col {
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding:0px;
}

.main {
    flex-direction: column;
}

button {
    margin: 3px !important;
}