footer{
    background-image: url('./assets/bannerTile.jpg');
    background-position-y: 65%;
    background-size: 20%;
    display: flex;
    flex-direction: column;
}

footer small {
    text-shadow: -7px 0 white, 0 7px white, 7px 0 white, 0 -7px white;
}