footer{
    background-image: url("./assets/banner.jpg");
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
}

footer small {
    text-shadow: -7px 0 white, 0 7px white, 7px 0 white, 0 -7px white;
}