:root{
    --spaceCadet: #2B2D42;
    --cinnabar:#db4c40;
    --middleYellow: #f7e733;
    --cultured: #f7f7f9;
    --mediumAquamarine: #41e2ba;
    --xanadu: #7e8d85;
    --celadonBlue: #337ca0;
    --aeroBlue: #B5FFE9;
    --fusciaCrayola: #CB48B7;
  }

  /* for adding a background to the container but I think it gets too busy */
/* #bootstrap-overrides.sketchBackground{
  background-image: url("./assets/brain-2789677.svg");
  background-size: 300%;
  background-position: center; 
  padding-top: 10px;
  padding-bottom: 10px;
  } */

#bootstrap-overrides .btn-primary{
  background-color: var(--celadonBlue);
  border-color: var(--celadonBlue)
}

#bootstrap-overrides .logout{
  background-color: var(--cinnabar);
  border-color: var(--cinnabar);
  color: white
}
#bootstrap-overrides .main{
  color: var(--spaceCadet);
  border-color: var(--xanadu);
}

#bootstrap-overrides .jumbotron{
  background-color: var(--cultured);
}

#bootstrap-overrides .banner{
  /* font-family: 'Sedgwick Ave', cursive; */
  background-color: var(--cultured);
  border: 1px solid var(--xanadu);
  border-radius: 0.25em;
  width:100%
}
.jumbotron .h1{
  background-color: var(--cultured) !important;
  color:var(--cinnabar)
}
#bootstrap-overrides footer{
  background-color: var(--cultured) !important;
}

#bootstrap-overrides .card-header{
  font-family: 'Sedgwick Ave', cursive;
  margin-bottom: 0rem !important;
  /* text-align: center; */
  padding-top: 20px;
  text-align:center;
}
#bootstrap-overrides .btnAdd{
  background-color: var(--mediumAquamarine);
}
#bootstrap-overrides .btnDel{
  text-align: center;
  justify-content: center;
  color: var(--cinnabar);
}
#bootstrap-overrides .dropDN{
  background-color: var(--fusciaCrayola);
  border-color: var(--fusciaCrayola);
}

#bootstrap-overrides .gameCode{
  background-color: var(--cultured);
  font-family: 'arial';;
}

.timerElement{
  color:var(--cinnabar)
}
