:root{
    --spaceCadet: #2B2D42;
    --cinnabar:#db4c40;
    --middleYellow: #f7e733;
    --cultured: #f7f7f9;
    --mediumAquamarine: #41e2ba;
    --xanadu: #7e8d85;
    --celadonBlue: #337ca0;
    --aeroBlue: #337ca0;
  }

#bootstrap-overrides .btn{
  background-color: var(--celadonBlue);
  border-color: var(--celadonBlue)
}

#bootstrap-overrides .card{
  color: var(--spaceCadet);
  border-color: var(--xanadu);
}

#bootstrap-overrides .jumbotron{
  background-color: var(--cultured);
}

#bootstrap-overrides .banner{
  background-color: var(--mediumAquamarine);

  border: 1px solid var(--mediumAquamarine);
  border-radius: 0.25em;
}