.container{
    display:flex;
    /* justify-content: center; */
    /* align-content:center */
}

h2{
    text-align: center;
}

.scoreBoardCardEl{
    min-width: 600px !important;

}

.chatBoxCardEl{
    min-width:360px;

}
