:root {
	--spaceCadet: #2b2d42;
	--cinnabar: #db4c40;
	--middleYellow: #f7e733;
	--cultured: #f7f7f9;
	--mediumAquamarine: #41e2ba;
	--xanadu: #7e8d85;
	--celadonBlue: #337ca0;
	--aeroBlue: #337ca0;
}

ul {
	padding-left: 20px;
	list-style-type: none;
}
.form-control {
	margin-right: 20px;
}

input:checked + .slider {
	background-color: var(--middleYellow);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--middleYellow);
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

p {
	margin-bottom: 0.5rem !important;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#container {
	display: flex;
	flex-flow: row wrap;
}

#content {
	flex: 1 1 55%;
	display: flex;
	flex-flow: row wrap;
}
#content > * {
	flex: 1 1 40%;
}

#chat {
	flex: 1 1 calc(calc(360px - 100%) * 999);
}

.containerCol {
    flex: 1 0 auto;
}
.containerBottom {
	margin-top: 10px;
	width: 100%;
    flex: 0 0 auto;
}

.gameCode {
	font-size: 1.5rem;
	white-space: nowrap;
}

/* cards need to have a min with of 250 px and the @media min-width is at760 with a flex:1 0 */
.card-deck .card{
	min-width: 300px;
}
@media (min-width:960px){
	.card{
		flex: 1 0;
		margin-right: 15px;
		margin-bottom:5px;
		margin-left: 15px
	}
}
