:root {
	--spaceCadet: #2b2d42;
	--cinnabar: #db4c40;
	--middleYellow: #f7e733;
	--cultured: #f7f7f9;
	--mediumAquamarine: #41e2ba;
	--xanadu: #7e8d85;
	--celadonBlue: #337ca0;
	--aeroBlue: #337ca0;
}

ol {
	padding-left: 20px;
}
.form-control {
	margin-right: 20px;
}

input:checked + .slider {
	background-color: var(--middleYellow);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--middleYellow);
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

p {
	margin-bottom: 0.5rem !important;
}

main {
    
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.containerCol {
    flex: 1 0 auto;
}
.containerBottom {
	margin-top: 10px;
	width: 100%;
    flex: 0 0 auto;
}
